
  <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">

    <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4" routerLinkActive="active">
      <a class="rk-item">
        <img src="assets/img/gioconda.jpg" alt="">
        <div class="item-meta">
          <h2>La Gioconda </h2>
          <p>(Da Vinci, 1504)</p>
        </div>
      </a>
      <a class="rk-item ae-masonry__item">
        <img src="assets/img/lasmeninas.jpg" alt="">
        <div class="item-meta">
          <h2>Las Meninas</h2>
          <p>(Velázquez, 1656)</p>
        </div>
      </a>
      <a class="rk-item ae-masonry__item">
        <img src="assets/img/LaNocheEstrellada.jpg " alt="">
        <div class="item-meta">
          <h2>La Noche Estrellada </h2>
          <p>(Van Gogh, 1889)</p>
        </div>
      </a>
      <a  class="rk-item ae-masonry__item">
        <img src="assets/img/el-guernica.jpg" alt="">
        <div class="item-meta">
          <h2>Guernica</h2>
          <p>(Picasso, 1937)</p>
        </div>
      </a>
      <a  class="rk-item ae-masonry__item">
        <img src="assets/img/laultimacena.jpg" alt="">
        <div class="item-meta">
          <h2>La ultima cena</h2>
          <p>(Da Vinci, 1498)</p>
        </div>
      </a>
      <a class="rk-item ae-masonry__item">
        <img src="assets/img/adan.jpg" alt="">
        <div class="item-meta">
          <h2>La creación de Adán</h2>
          <p>(Miguel Ángel, 1512)</p>
        </div>
      </a>
      <a class="rk-item ae-masonry__item">
        <img src="assets/img/la-persistencia-de-la-memoria.jpg" alt="">
        <div class="item-meta">
          <h2>La Persistencia de la Memoria </h2>
          <p>(Dalí, 1931)</p>
        </div>
      </a>
        <a  class="rk-item ae-masonry__item">
          <img src="assets/img/475px-the_scream1.jpg" alt="">
        <div class="item-meta">
          <h2>El Grito</h2>
          <p>(Munch, 1893)</p>
        </div>
      </a>
        <a class="rk-item ae-masonry__item">
          <img src="assets/img/venus.jpg" alt="">
        <div class="item-meta">
          <h2>El Nacimiento de Venus </h2>
          <p>(Botticelli, 1484)</p>
        </div>
      </a>
        <a class="rk-item ae-masonry__item">
          <img src="assets/img/cvxvmjj-foto.jpg" alt="">
        <div class="item-meta">
          <h2>El Jardín de las Delicias</h2>
          <p>(El Bosco, 1500)</p>
        </div>
      </a>
        <a class="rk-item ae-masonry__item">
          <img src="assets/img/maxresdefault.jpg" alt="">
        <div class="item-meta">
          <h2>Los Fusilamientos del 3 de Mayo de 1808</h2>
          <p>(Goya, 1814)</p>
        </div>
      </a>
        <a class="rk-item ae-masonry__item">
          <img src="assets/img/Eugène_Delacroix_-_Le_28_Juillet._La_Liberté<_guidant_le_peuple></_guidant_le_peuple>.jpg" alt="">
        <div class="item-meta">
          <h2>La Libertad Guiando al Pueblo </h2>
          <p>(Delacroix, 1830)</p>
        </div>
      </a>
        <a class="rk-item ae-masonry__item">
          <img src="assets/img/el-juicio-final-detalle.jpg" alt="">
        <div class="item-meta">
          <h2>Juicio Final</h2>
          <p>(Miguel Ángel, 1512)</p>
        </div>
      </a>
        <a class="rk-item ae-masonry__item">
          <img src="assets/img/esc.jpg" alt="">
          <div class="item-meta">
            <h2>La Escuela de Atenas </h2>
            <p>(Rafael, 1512)</p>
          </div>
        </a>
        <a class="rk-item ae-masonry__item">
          <img src="assets/img/van_gogh_el_dormitorio_primera_version.jpg" alt="">
          <div class="item-meta">
            <h2>El Dormitorio en Arles</h2>
            <p> (Van Gogh, 1888)</p>
          </div>
        </a>
        <a class="rk-item ae-masonry__item">
          <img src="assets/img/VEL00035.jpg" alt="">
          <div class="item-meta">
            <h2>Venus del Espejo</h2>
            <p> (Velázquez, 1651)</p>
          </div>
        </a>
        <a class="rk-item ae-masonry__item">
          <img src="assets/img/The-Fable-of-Arachne-Diego-Velazquez-2khu5x5.jpg" alt="">
          <div class="item-meta">
            <h2>Las Hilanderas</h2>
            <p> (Velázquez, 1657)</p>
          </div>
        </a>
        <a class="rk-item ae-masonry__item">
          <img src="assets/img/84fca137d3b82bbd9afc52c57c4faae7.jpg" alt="">
          <div class="item-meta">
            <h2>Muchacha con Turbante </h2>
            <p> (Vermeer, 1665)</p>
          </div>
        </a>
        <a class="rk-item ae-masonry__item">
          <img src="assets/img/impresion-sol-naciente-l.jpg" alt="">
          <div class="item-meta">
            <h2>Impresion Sol Naciente</h2>
            <p> (Monet, 1872)</p>
          </div>
        </a>
        <a class="rk-item ae-masonry__item">
          <img src="assets/img/4f2eb47e-9276-4914-9255-c1b73f8b0050.jpg" alt="">
          <div class="item-meta">
            <h2>Los Borrachos </h2>
            <p> (Velásquez, 1628)</p>
          </div>
        </a>
        <a class="rk-item ae-masonry__item">
          <img src="assets/img/Niños comiendo uvas y melón 1650.jpg" alt="">
          <div class="item-meta">
            <h2>Niños Comiendo Uvas y Melón </h2>
            <p> (Murillo, 1650)</p>
          </div>
        </a>
        <a class="rk-item ae-masonry__item">
          <img src="assets/img/las-senoritas-de-avignon-de-picasso-causa-furor-600x310.jpg" alt="">
          <div class="item-meta">
            <h2>Las Señoritas de la Calle Avignon </h2>
            <p> (Picasso, 1907)</p>
          </div>
        </a>
        <a class="rk-item ae-masonry__item">
          <img src="assets/img/leccion de anatomia de rembrandt.jpg" alt="">
          <div class="item-meta">
            <h2>Lección de Anatomía </h2>
            <p> (Rembrandt, 1632)</p>
          </div>
        </a>
        <a class="rk-item ae-masonry__item">
          <img src="assets/img/kana.jpg" alt="">
          <div class="item-meta">
            <h2>La Gran Ola de Kanagawa </h2>
            <p> (Hokusai, 1832)</p>
          </div>
        </a>
        <a class="rk-item ae-masonry__item">
          <img src="assets/img/El_Greco_-_The_Virgin_of_the_Immaculate_Conception_(detail)_-_WGA10618.jpg" alt="">
          <div class="item-meta">
            <h2>Inmaculada </h2>
            <p> (El Greco, 1613)</p>
          </div>
        </a>


    </div>
  </section>
