
  <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">

    <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4" routerLinkActive="active"><a routerLink="producto" class="rk-item ae-masonry__item"><img src="assets/img/gioconda.jpg" alt="">
        <div class="item-meta">
          <h2>La Gioconda </h2>
          <p>(Da Vinci, 1504)</p>
        </div></a><a href="portfolio.component.html" class="rk-item ae-masonry__item"><img src="assets/img/lasmeninas.jpg" alt="">
        <div class="item-meta">
          <h2>Las Meninas</h2>
          <p>(Velázquez, 1656)</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/LaNocheEstrellada.jpg " alt="">
        <div class="item-meta">
          <h2>La Noche Estrellada </h2>
          <p>(Van Gogh, 1889)</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/el-guernica.jpg" alt="">
        <div class="item-meta">
          <h2>Guernica</h2>
          <p>(Picasso, 1937)</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/laultimacena.jpg" alt="">
        <div class="item-meta">
          <h2>La ultima cena</h2>
          <p>(Da Vinci, 1498)</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/adan.jpg" alt="">
        <div class="item-meta">
          <h2>La creación de Adán</h2>
          <p>(Miguel Ángel, 1512)</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/la-persistencia-de-la-memoria.jpg" alt="">
        <div class="item-meta">
          <h2>La Persistencia de la Memoria </h2>
          <p>(Dalí, 1931)</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/475px-the_scream1.jpg" alt="">
        <div class="item-meta">
          <h2>El Grito</h2>
          <p>(Munch, 1893)</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/venus.jpg" alt="">
        <div class="item-meta">
          <h2>El Nacimiento de Venus </h2>
          <p>(Botticelli, 1484)</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/cvxvmjj-foto.jpg" alt="">
        <div class="item-meta">
          <h2>El Jardín de las Delicias</h2>
          <p>(El Bosco, 1500)</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/maxresdefault.jpg" alt="">
        <div class="item-meta">
          <h2>Los Fusilamientos del 3 de Mayo de 1808</h2>
          <p>(Goya, 1814)</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/Eugène_Delacroix_-_Le_28_Juillet._La_Liberté<_guidant_le_peuple></_guidant_le_peuple>.jpg" alt="">
        <div class="item-meta">
          <h2>La Libertad Guiando al Pueblo </h2>
          <p>(Delacroix, 1830)</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/el-juicio-final-detalle.jpg" alt="">
        <div class="item-meta">
          <h2>Juicio Final</h2>
          <p>(Miguel Ángel, 1512)</p>
        </div></a>
    </div>
  </section>
